# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [worker.Worker("docker-image-worker", "gadgetron")]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

all_repositories = {
    r'https://github.com/ismrmrd/ismrmrd.git': 'ismrmrd',
    r'https://github.com/gadgetron/gadgetron.git': 'gadgetron',
    r'https://github.com/ismrmrd/siemens_to_ismrmrd.git': 'siemens_to_ismrmrd',
    r'https://github.com/ismrmrd/ismrmrd-python.git': 'ismrmrd-python',
    r'https://github.com/ismrmrd/ismrmrd-python-tools.git': 'ismrmrd-python-tools',
    r'git@github.com:NHLBI-MR/gtprep.git':'gtprep'
}

def getTheCodeBases():
    codebases = {'ismrmrd': {'repository':'https://github.com/ismrmrd/ismrmrd.git',
                             'branch':'master',
                             'revision': None},
                 'gadgetron': {'repository':'https://github.com/gadgetron/gadgetron.git',
                               'branch':'master',
                               'revision': None},
                 'siemens_to_ismrmrd': {'repository':'https://github.com/ismrmrd/siemens_to_ismrmrd.git',
                                     'branch':'master',
                                     'revision': None},
                 'ismrmrd-python': {'repository':'https://github.com/ismrmrd/ismrmrd-python.git',
                                     'branch':'master',
                                     'revision': None},
                 'ismrmrd-python-tools': {'repository':'https://github.com/ismrmrd/ismrmrd-python-tools.git',
                                    'branch':'master',
                                    'revision': None},
                 'gtprep': {'repository':'git@github.com:NHLBI-MR/gtprep.git',
                                     'branch':'master',
                                     'revision': None}}

    return codebases

def codebaseGenerator(chdict):
    return all_repositories[chdict['repository']]

c['codebaseGenerator'] = codebaseGenerator


####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

polling_interval = 300  # seconds
project = 'gadgetron'

c['change_source'] = []

c['change_source'].append(changes.GitPoller(
        project=project,
        repourl='https://github.com/ismrmrd/ismrmrd.git',
        workdir='gitpoller-ismrmrd-workdir',
        branches=['master'],
        pollinterval=polling_interval))

c['change_source'].append(changes.GitPoller(
        project=project,
        repourl='https://github.com/gadgetron/gadgetron.git',
        workdir='gitpoller-gadgetron-workdir',
        branches=['master'],
        pollinterval=polling_interval))

c['change_source'].append(changes.GitPoller(
        project=project,
        repourl='https://github.com/ismrmrd/ismrmrd-python.git',
        workdir='gitpoller-ismrmrd-python-workdir',
        branches=['master'],
        pollinterval=polling_interval))

c['change_source'].append(changes.GitPoller(
        project=project,
        repourl='https://github.com/ismrmrd/ismrmrd-python-tools.git',
        workdir='gitpoller-ismrmrd-python-tools-workdir',
        branches=['master'],
        pollinterval=polling_interval))

c['change_source'].append(changes.GitPoller(
        project=project,
        repourl='https://github.com/ismrmrd/siemens_to_ismrmrd.git',
        workdir='gitpoller-siemens_to_ismrmrd-workdir',
        branches=['master'],
        pollinterval=polling_interval))

c['change_source'].append(changes.GitPoller(
        project=project,
        repourl='git@github.com:NHLBI-MR/gtprep.git',
        workdir='gitpoller-gtprep-workdir',
        branches=['master'],
        pollinterval=polling_interval))

####### SCHEDULERS

gtrepos_filter = [u'https://github.com/ismrmrd/ismrmrd.git',
                  u'https://github.com/gadgetron/gadgetron.git',
                  u'https://github.com/ismrmrd/siemens_to_ismrmrd.git',
                  u'https://github.com/ismrmrd/ismrmrd-python.git',
                  u'https://github.com/ismrmrd/ismrmrd-python-tools.git']

c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="gadgetron_scheduler",
                            change_filter=util.ChangeFilter(project='gadgetron', repository=gtrepos_filter,branch='master'),
                            treeStableTimer=60,
                            codebases=getTheCodeBases(),
                            builderNames=["gadgetron_docker_image_builder_no_cuda"]))

c['schedulers'].append(schedulers.ForceScheduler(
    name="force",
    codebases=[
        util.CodebaseParameter(
            codebase="gadgetron",
            branch="master",
            revision="",
            repository="https://github.com/gadgetron/gadgetron.git",
            project="gadgetron"
        ),
    ],
    builderNames=["gadgetron_docker_image_builder_no_cuda"]))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

def make_docker_image_generator_factory(base_image, docker_config_path, tag, rest_port, container_name='buildbot_test_container'):
    factory = util.BuildFactory()

    #Make sure we have the base image
    factory.addStep(steps.ShellCommand(command=['docker', 'pull', base_image], haltOnFailure=True))


    # check out the Gadgetron source
    factory.addStep(steps.Git(repourl='https://github.com/gadgetron/gadgetron.git', workdir='gadgetron-source', branch='master', mode='incremental', codebase='gadgetron', haltOnFailure=True))

    factory.addStep(steps.ShellCommand(command=['docker', 'build', '--no-cache', '--force-rm', '-t', tag, '.'], workdir='gadgetron-source'+docker_config_path, haltOnFailure=True))
    #factory.addStep(ShellCommand(command=['docker', 'build', '-t', tag, '.'], workdir='gadgetron-source'+docker_config_path, haltOnFailure=True))

    # acquire Gadgetron integration test data (2 hour timeout - slowly downloads 8 GBs from Amazon S3)
    factory.addStep(steps.ShellCommand(command='python get_data.py', workdir='gadgetron-source/test/integration', timeout=7200, haltOnFailure=True))

    #Start Docker container
    factory.addStep(steps.ShellCommand(command=['docker/nvidia-docker', 'run', '--detach', 
                                          util.Interpolate('--volume=%(prop:builddir)s/gadgetron-source/test/integration:/opt/integration'),
                                          '--name=' + container_name,  tag], 
                                 workdir='gadgetron-source', env={'GPU': '0', 'NV_GPU': '0'}, haltOnFailure=True))


    factory.addStep(steps.ShellCommand(command=['docker','exec','-i', container_name, '/opt/code/gadgetron/build/test/test_all']))

    factory.addStep(steps.ShellCommand(command=['docker', 'exec', '-i', container_name, '/bin/bash', '-c', 'cd /opt/integration/ && python run_all_tests.py /opt/code/gadgetron/test/integration/test_cases.txt'],
                                 logfiles={'gadgetronlog': 'gadgetron.log','clientlog':'client.log'},
                                 description='Integration Tests',
                                 workdir='gadgetron-source/test/integration',
                                 timeout=3600,                                 haltOnFailure=True))

    factory.addStep(steps.ShellCommand(command=['./tag_image_with_version.sh', tag], workdir='gadgetron-source/docker', haltOnFailure=False))
    factory.addStep(steps.ShellCommand(command=['docker','push',tag],haltOnFailure=True))

    #Stop and delete container
    factory.addStep(steps.ShellCommand(command=['docker', 'stop', container_name], haltOnFailure=False, alwaysRun=True))
    factory.addStep(steps.ShellCommand(command=['docker', 'rm', container_name], haltOnFailure=False, alwaysRun=True))

    factory.addStep(steps.ShellCommand(command=['./remove_all_but_latest.sh', tag], workdir='gadgetron-source/docker', haltOnFailure=False))

    return factory

#factory = util.BuildFactory()
# check out the source
#factory.addStep(steps.Git(repourl='git://github.com/buildbot/pyflakes.git', mode='incremental'))
# run the tests (note that this will require that 'trial' is installed)
#factory.addStep(steps.ShellCommand(command=["trial", "pyflakes"]))

build_lock = util.WorkerLock("slave_builds", maxCount = 10)
gtprep_build_lock = util.WorkerLock("gtprep_slave_builds", maxCount = 10)

c['builders'] = []

factory = make_docker_image_generator_factory("gadgetron/ubuntu1604_base", "/docker/incremental/ubuntu_1604_no_cuda","gadgetron/ubuntu_1604_no_cuda", 9902,"buildbot_gadgetron_no_cuda_test")
c['builders'].append(
    util.BuilderConfig(name="gadgetron_docker_image_builder_no_cuda",
                       slavenames=["docker-image-worker"],
                       factory=factory, locks=[build_lock.access('exclusive')]))

#c['builders'].append(
#    util.BuilderConfig(name="runtests",
#      workernames=["docker-image-slave"],
#      factory=factory))

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Gadgetron"
c['titleURL'] = "https://github.com/gadgetron/gadgetron"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = "http://gtbuildbot.eastus.cloudapp.azure.com:8010/"

# minimalistic config to activate new web UI
c['www'] = dict(port=8010,
                plugins=dict(waterfall_view={}, console_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : "sqlite:///state.sqlite",
}
